# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
web-build/
expo-env.d.ts
*.apk

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# local db and runtime files
server_db.json
server_receipts_db.json
server_users_db.json
server_deleted_db.json
ACTIVE_TUNNEL_URL.txt
*.log
fast_download_and_release.js
upload_release.js


# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
